html, body {
    margin: 0px; 
    padding: 0px;
}
#top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
#logo {
    border-radius: 50%;
}
#AZ-container {
    position: absolute;
    margin-left: 50px;
    margin-right: auto;
    margin-top: -50px;
}
.item {
    width: 9px;
    height: 9px;
    color: white;
    font-size: 20px;
    padding: 14.5px;
    display: inline-block;
    margin-left: 5px;
}
.item:hover {
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
#navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 30px;
}
.navItem {
    display: inline-block;
    margin-left: 5px;
}
#fb {
    border-radius: 70%;
}
#lk {
    border-radius: 70%;
}
#tw {
    border-radius: 70%;
}
#in {
    border-radius: 70%;
}